{% extends "@FOSUser/layout.html.twig" %}
{% block sidebar %}
{% endblock %}
{% block fos_user_content %}
    <div class="container" style="margin-top: 10px">
        {% include "@FOSUser/Profile/show_content.html.twig" %}

    </div>
{% endblock fos_user_content %}
