.center {
    text-align: center;
}

.img-size-200 {
    width: 200px;
    height: 200px;
}

.img-size-100{
    width: 100px;
    height: 100px;
}

.img-size-300{
    width: 300px;
    height: 300px;
}

.margin-top-15 {
    margin-top: 15px;
}