{% extends 'base.html.twig' %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="container margin-top-15">
        <h3>Заказ отправлен</h3>
        <a href="{{ path('catalog') }}" class="btn btn-warning">Catalog</a>
    </div>
{% endblock %}
