{% extends 'base.html.twig' %}


{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="container margin-top-15">
        <h5>Empty</h5>
        <a href="{{ path('catalog') }}" class="btn btn-warning">Catalog</a>
    </div>
{% endblock %}
